<%- include('../partials/header') %>

<table>
    <thead>
        <tr>
            <th>Address</th>
            <th>Year Built</th>
            <th>Purchase Price</th>
            <th>Appraised Value</th>
            <th>Bedrooms</th>
            <th>Baths</th>
            <th>Features</th>
        </tr>
    </thead>
    <tbody>
        <% deals.forEach(function(deal) { %>
            <tr>
                <td><%= deal.address %></td>
                <td><%= deal.yearBuilt %></td>
                <td><%= deal.purchasePrice %></td>
                <td><%= deal.appraisedValue %></td>
                <td><%= deal.bedrooms %></td>
                <td><%= deal.baths %></td>
                <td><%= deal.features %></td>
                <td><a href="/deals/<%= deal.id %>">Edit Deal</a></td>
            </tr>
         <% }) %>
    </tbody>
</table>


<%- include('../partials/footer') %>